<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- The namespace defines the location of the Java interface. -->
<!-- The operation names here must match the method names in the interface. -->
<mapper namespace="com.roifmr.presidents.integration.mapper.PresidentMapper">

    <resultMap id="PresidentMap" type="President">
        <id column="id" property="id"/>
        <result column="PRESIDENTID" property="id"/>
        <result column="FIRSTNAME" property="firstName"/>
        <result column="LASTNAME" property="lastName"/>
        <result column="STARTYEAR" property="startYear"/>
        <result column="ENDYEAR" property="endYear"/>
        <result column="IMAGEPATH" property="imagePath"/>
        <result column="BIO" property="bio"/>
    </resultMap>

    <select id="getAllPresidents" resultMap="PresidentMap">
        SELECT PRESIDENTID, FIRSTNAME, LASTNAME, STARTYEAR, ENDYEAR, IMAGEPATH, BIO
        FROM PRESIDENTS
        ORDER BY PRESIDENTID
    </select>

    <select id="getPresidentById" parameterType="int" resultMap="PresidentMap">
        SELECT PRESIDENTID, FIRSTNAME, LASTNAME, STARTYEAR, ENDYEAR, IMAGEPATH, BIO
        FROM PRESIDENTS
        WHERE PRESIDENTID = #{id}
        ORDER BY PRESIDENTID
    </select>

</mapper>