<h1>Welcome to {{title}}</h1>
<h2>This is a LEAP Web Development Starter Project</h2>
<hr style="width: 50%; margin-left: 0em">

<br>
<p>Implement following routes:</p>
<ul>
    <li>
        <a href="http://localhost:8080/etfs"> Get All ETFs
            (/etfs)</a>
    </li>
    <li>
        <a href="http://localhost:8080/etfs?filter="> Get
            All etfs - alternative (/etfs?filter=)</a>
    </li>
    <li> Using
        <a href="http://localhost:8080/etfs?filter=ThreeMoTR">
            /etfs?filter=ThreeMoTR</a> returns top 5 by 3 Month TR
    </li>
    <li> Using
        <a
            href="http://localhost:8080/etfs?filter=Expense_Ratio">
            /etfs?filter=Expense_Ratio</a> returns top 5
        by Expense Ratio, as percentage (ER*100[%])
    </li>
    <li> Using
        <a
            href="http://localhost:8080/etfs?filter=AUM_bil">
            /etfs?filter=AUM_bil</a> returns top 5
        by AUM [billion USD]
    </li>
</ul>